//under_header
#under_header form,
#search-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#under_header form {
  display: flex;
  flex-direction: column;
  @media (min-width: $bpMobil) {
    flex-direction: row;
  }
}
#slogan {
  margin: 1.8em 2em 1.8em 2em;
}

//-----------------------------------------------------------
.checkbox {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

.item {
  background-color: white;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 6px 10px
    darken($color: $colorBackgroundLocation, $amount: 10%);
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  &:hover .item--container {
    transform: translate(0em);
  }

  .item {
    &--title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &--container {
      display: flex;
      justify-content: space-between;
      height: 3em;
      transform: translate(3.5em);
      transition-property: transform;
      transition-duration: 1000ms;
    }
    &--price {
      width: 3.5em;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 2.5em;
    }
    &--icon {
      background-color: $color-tertiary;
      border-radius: 0 1em 1em 0;
      width: 3.5em;
      margin: -0.5em -1em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--btn {
      color: white;
      height: 1.5em;
      width: 1.5em;
      border-radius: 1em;
      background-color: white;
      text-align: center;
      padding-top: 0.25em;
      cursor: pointer;
    }
  }
}
input:checked + label .item {
  &--btn {
    color: $color-tertiary;
  }
  &--container {
    transform: translate(0em);
  }
}
