header {
  position: relative;
  width: 100%;
  padding: 1em 0em 0.5em 0em;

  & > a {
    position: absolute;
    font-size: larger;
    vertical-align: middle;
    left: 1em;
    top: 1em;
  }
  & div {
    text-align: center;
  }
  & img {
    width: 18em;
    @media (max-width: $bpMobil) {
      width: 10em;
    }
  }
}
