//----loader
.section--loader {
  background-color: $color-tertiary;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  animation-name: inout;
  animation-duration: 2s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
}
.loader {
  position: relative;
  width: 50px;
  height: 50px;
  &__text {
    font-size: 2em;
  }
  &__quart {
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);
    margin: 20px;
    &::before {
      content: '';
      position: absolute;
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border-radius: 50px;
      border: 6px solid transparent;
      border-top-color: $color-secondary;
      border-bottom-color: $color-primary;
      animation: spin 1s linear infinite;
    }
  }
}
//under_header
#under_header {
  background-color: $colorBackgroundBody;
  width: 100%;
  padding: 0 0 3.5em 0;
  @media (min-width: $bpMobil) {
    padding: 0;
    border: none;
    box-shadow: -1px 2px 10px 3px
      darken($color: $colorBackgroundLocation, $amount: 20%);
  }
}
section div > button {
  margin: 0.9em;
}

#fonctionnement,
#restaurant {
  width: 100%;
  margin: 2em 0 0 0;
}
#fonctionnement {
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    @media (min-width: $bpMobil) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
#restaurant {
  width: 100%;
  background-color: $colorBackgroundBody;
  padding-top: 2em;
  @media all and (min-width: $bpMobil) and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .restaurant {
    &-liste {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      @media all and (min-width: $bpMobil) and (max-width: 992px) {
        justify-content: center;
      }
    }
    &-unit__photo {
      margin: 0px;
      position: relative;
      & > p {
        position: absolute;
        background-color: $color-tertiary;
        top: 1em;
        right: 1em;
        line-height: 1.8em;
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
        width: 5.5em;
        color: darken($color: $color-tertiary, $amount: 30%);
        margin: 0;
      }
    }
    &-titre {
      display: flex;
      padding: 1em 1em 1em 1em;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
//--------------------------constrution des menus-----------------------
.imagePage {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
.menu {
  width: 100%;
  position: relative;
  margin-top: -4em;
  border-radius: 2em 2em 0 0;
  background-color: $colorBackgroundBody;
  padding: 1em;
  &--header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media all and (min-width: $bpMobil) {
  .submenus {
    display: flex;
    flex-direction: column;
    &__container {
      display: flex;
      flex-direction: row;
    }
    &--plate {
      min-width: 45%;
      margin: auto;
    }
  }
}

hr {
  border: 0;
  background-color: $color-tertiary;
  height: 3px;
  width: 2.6em;
  margin: 0;
}
.validemenu {
  display: flex;
  justify-content: center;
  margin: 3em;
}
