h1,
h2 {
  margin: 0px;
  text-align: center;
  @media (min-width: $bpMobil) {
    text-align: left;
  }
}
h1,
h2,
h3,
h4,
h6,
p {
  font-family: 'Roboto', sans-serif, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  @media (min-width: $bpMobil) {
    padding: 0;
    font-size: 2rem;
  }
}
h2 {
  font-weight: lighter;
  font-size: 1.1rem;
}
h3 {
  margin-left: 0.5em;
  padding-left: 0;
  font-weight: bold;
  font-size: 1.4rem;
  @media all and (min-width: $bpMobil) and (max-width: 992px) {
    font-size: 2rem;
  }
  @media (max-width: 993) {
  }
}
#fonctionnement {
  & i {
    font-size: 1.5em;
    color: gray;
  }
  & span {
    margin: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
  }
}
p {
  margin: 0;
}
h4 {
  margin: 0 0 0.2em 0;
  font-size: 1.1em;
}
#restaurant {
  & a {
    color: black;
  }
}
footer ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
}
li {
  margin: 0.6em 0 0.6em 0;
  & > a {
    color: white;
    margin: 0.5em 0 0.5em 0;
  }
}
h5 {
  font-family: 'Shrikhand';
  font-size: 1.8em;
  font-weight: lighter;
}
.fa-heart {
  font-size: 25px;
}
.relatheart {
  position: relative;
  color: red;
}
.absheart {
  position: absolute;
  right: 0;
  transform: scale(1);
  color: grey;
  &:hover {
    transform: scale(0);
    transition: transform 600ms;
  }
}

//----------------------------------------
.menu--header__title {
  //h5//
  margin: 0.5em 0 0.5em 0;
}
.submenus--plate__title {
  //h6//
  font-size: 1em;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 1.5em 0 0.3em 0;
}
.item {
  &--title__master {
    font-weight: bold;
    font-size: 1.1em;
  }
  &--price {
    font-weight: bold;
  }
}
